openapi: 3.0.0
info:
  contact:
    email: api@interactivebrokers.com
    name: API support
  description: The IB REST API reference documentation
  title: IB REST API
  version: 2.13.0
externalDocs:
  description: Find out more about IB's public API offerings.
  url: https://ibkrcampus.com/ibkr-api-page/ibkr-api-home/
servers:
- description: Production
  url: https://api.ibkr.com
- description: Sandbox
  url: https://qa.interactivebrokers.com
tags:
- name: Account Management Accounts
  x-displayName: Accounts
  x-ib-tag-group-name: Account Management
- name: Account Management Banking
  x-displayName: Banking
  x-ib-tag-group-name: Account Management
- name: Account Management Reports
  x-displayName: Reports
  x-ib-tag-group-name: Account Management
- name: Account Management Utilities
  x-displayName: Utilities
  x-ib-tag-group-name: Account Management
- name: Authorization SSO Sessions
  x-displayName: SSO Sessions
  x-ib-tag-group-name: Authorization
- name: Authorization Token
  x-displayName: Token
  x-ib-tag-group-name: Authorization
- name: Trading Accounts
  x-displayName: Accounts
  x-ib-tag-group-name: Trading
- name: Trading Alerts
  x-displayName: Alerts
  x-ib-tag-group-name: Trading
- name: Trading Contracts
  x-displayName: Contracts
  x-ib-tag-group-name: Trading
- name: Trading FA Allocation Management
  x-displayName: FA Allocation Management
  x-ib-tag-group-name: Trading
- name: Trading FYIs and Notifications
  x-displayName: FYIs and Notifications
  x-ib-tag-group-name: Trading
- name: Trading Market Data
  x-displayName: Market Data
  x-ib-tag-group-name: Trading
- name: Trading OAuth 1.0a
  x-displayName: OAuth 1.0a
  x-ib-tag-group-name: Trading
- name: Trading Orders
  x-displayName: Orders
  x-ib-tag-group-name: Trading
- name: Trading Portfolio
  x-displayName: Portfolio
  x-ib-tag-group-name: Trading
- name: Trading Portfolio Analyst
  x-displayName: Portfolio Analyst
  x-ib-tag-group-name: Trading
- name: Trading Scanner
  x-displayName: Scanner
  x-ib-tag-group-name: Trading
- name: Trading Session
  x-displayName: Session
  x-ib-tag-group-name: Trading
- name: Trading Watchlists
  x-displayName: Watchlists
  x-ib-tag-group-name: Trading
- name: Trading Websocket
  x-displayName: Websocket
  x-ib-tag-group-name: Trading
- name: Utilities Echo
  x-displayName: Echo
  x-ib-tag-group-name: Utilities
paths:
  /acesws/{accountId}/signatures-and-owners:
    get:
      description: Receive a list of all applicant names on the account and for which
        account and entity is represented.
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          description: The account identifier to receive information for
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    accountId: U1234567
                    users:
                    - roleId: OWNER
                      hasRightCodeInd: true
                      entity:
                        entityType: INDIVIDUAL
                        entityName: John Smith
                        firstName: John
                        lastName: Smith
                    applicant:
                      signatures:
                      - John Smith
              schema:
                $ref: '#/components/schemas/signatureAndOwners'
          description: An object containing valid accounts and the account properties
            regarding trading access. This endpoint is also used to confirm account
            validation.
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                accountId-is-empty:
                  value:
                    error: "Bad Request: accountId needed"
                    statusCode: 400
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: bad request; accountId is empty
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Signatures And Owners
      tags:
      - Trading Accounts
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/deliveryoptions:
    get:
      description: Options for sending fyis to email and other devices.
      responses:
        "200":
          content:
            application/json:
              examples:
                delivery-options:
                  value:
                    E:
                    - NM: iPhone
                      I: apn://mtws@SDFSDFDSFS123123DSFSDF
                      UI: apn://mtws@SDFSDFDSFS123123DSFSDF
                      A: 1
                    M: 1
              schema:
                $ref: '#/components/schemas/deliveryOptions'
          description: Successfully retrieve preset details
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      summary: Get Delivery OptionsCopy Location
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/deliveryoptions/device:
    post:
      description: Choose whether a particular device is enabled or disabled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fyiEnableDeviceOption'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fyiVT'
          description: Successfully retrieve preset details
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: bad request
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      summary: Enable/Disable Device Option
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/deliveryoptions/email:
    put:
      description: Enable or disable your account’s primary email to receive notifications.
      parameters:
      - explode: false
        in: query
        name: enabled
        required: true
        schema:
          description: |
            Enable or disable your email. Value format: true: Enable; false: Disable
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                successEdited:
                  value:
                    V: 1
                    T: 10
              schema:
                $ref: '#/components/schemas/fyiVT'
          description: Successfully enabled or disabled your email notifications.
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Enable/Disable Email Option
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/deliveryoptions/{deviceId}:
    delete:
      description: Delete a specific device from our saved list of notification devices.
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          description: |
            Display the device identifier to delete from IB’s saved list. Can be retrieved from /fyi/deliveryoptions.
        style: simple
      responses:
        "200":
          description: "No response message is returned. Instead, you will only receive\
            \ an empty string with a 200 OK status code indicating a successfully\
            \ deleted account."
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Delete A Device
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
  /fyi/disclaimer/{typecode}:
    get:
      description: Receive additional disclaimers based on the specified typecode.
      parameters:
      - explode: false
        in: path
        name: typecode
        required: true
        schema:
          $ref: '#/components/schemas/typecodes'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                ba-disclaimer:
                  value:
                    DT: "This communication is provided for information purposes only\
                      \ and is not a recommendation or a solicitation to buy, sell\
                      \ or hold any investment product. Selling securities short involves\
                      \ significant risk and you may lose more than you invest."
                    FC: BA
              schema:
                $ref: '#/components/schemas/disclaimerInfo'
          description: Successfully disclaimer details
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Get Disclaimer For A Certain Kind Of Fyi
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
    put:
      description: Mark a specific disclaimer message as read.
      parameters:
      - explode: false
        in: path
        name: typecode
        required: true
        schema:
          $ref: '#/components/schemas/typecodes'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                marked:
                  value:
                    V: 1
                    T: 10
              schema:
                $ref: '#/components/schemas/fyiVT'
          description: Successfully marked as read
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: bad request
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Mark Disclaimer Read
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/notifications:
    get:
      description: Get a list of available notifications.
      parameters:
      - explode: false
        in: query
        name: max
        required: true
        schema:
          description: |
            Specify the maximum number of notifications to receive. Can request a maximum of 10 notifications.
          example: "10"
          format: int32
          type: string
        style: form
      - explode: false
        in: query
        name: include
        required: false
        schema:
          description: include
        style: form
      - explode: false
        in: query
        name: exclude
        required: false
        schema:
          description: exclude
        style: form
      - explode: false
        in: query
        name: id
        required: false
        schema:
          description: "if more required, notifcationId of last notification should\
            \ be used to define next batch border"
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                all-notifications:
                  value:
                  - R: 0
                    D: "1710847062.0"
                    MS: "FYI: Changes in Analyst Ratings"
                    MD: "<html>Some investors use analysts ratings to stay informed\
                      \ about their investments. Analysts have changed their ratings\
                      \ for one or more companies in which you hold positions.   \
                      \ <br />The following summary displays the affected companies,\
                      \ the current number of analysts by rating category and, in\
                      \ parentheses, the recent change in the number of analysts rating\
                      \ the company within each rating category.  <br /> - JWN@NYSE:\
                      \ Buy: 1(0), Outperform: 1(0), Hold: 12(-1), Underperform: 5(0),\
                      \ Sell: 0(0). Held in: D****000 <br /> - RF@NYSE: Buy: 4(+1),\
                      \ Outperform: 5(0), Hold: 17(-1), Underperform: 1(0), Sell:\
                      \ 0(0). Held in: D****000 <br /> <br />   Note: Current ratings\
                      \ are from Reuters and may not reflect all rating changes from\
                      \ other sources such as Street Insider and Briefing.</html>"
                    ID: "2024031947509444"
                    HT: 0
                    FC: PF
                  - R: 1
                    D: "1710761985.0"
                    MS: "FYI: Changes in Analyst Ratings"
                    MD: "<html>Some investors use analysts ratings to stay informed\
                      \ about their investments. Analysts have changed their ratings\
                      \ for one or more companies in which you hold positions.   \
                      \ <br />The following summary displays the affected companies,\
                      \ the current number of analysts by rating category and, in\
                      \ parentheses, the recent change in the number of analysts rating\
                      \ the company within each rating category.  <br /> - F@NYSE:\
                      \ Buy: 4(0), Outperform: 4(0), Hold: 15(+1), Underperform: 3(-1),\
                      \ Sell: 1(0). Held in: D****000 <br /> - RF@NYSE: Buy: 4(+1),\
                      \ Outperform: 5(0), Hold: 17(-1), Underperform: 1(0), Sell:\
                      \ 0(0). Held in: D****000 <br /> - TSLA@NASDAQ: Buy: 5(0), Outperform:\
                      \ 12(0), Hold: 21(0), Underperform: 7(+1), Sell: 4(0). Held\
                      \ in: D****000 <br /> - UAA@NYSE: Buy: 6(0), Outperform: 2(-1),\
                      \ Hold: 17(+1), Underperform: 2(0), Sell: 0(0). Held in: D****000\
                      \ <br /> <br />   Note: Current ratings are from Reuters and\
                      \ may not reflect all rating changes from other sources such\
                      \ as Street Insider and Briefing.</html>"
                    ID: "2024031843829868"
                    HT: 0
                    FC: PF
                  - R: 1
                    D: "1710501829.0"
                    MS: "FYI: Changes in Analyst Ratings"
                    MD: "<html>Some investors use analysts ratings to stay informed\
                      \ about their investments. Analysts have changed their ratings\
                      \ for one or more companies in which you hold positions.   \
                      \ <br />The following summary displays the affected companies,\
                      \ the current number of analysts by rating category and, in\
                      \ parentheses, the recent change in the number of analysts rating\
                      \ the company within each rating category.  <br /> - F@NYSE:\
                      \ Buy: 4(0), Outperform: 4(0), Hold: 14(+1), Underperform: 4(0),\
                      \ Sell: 1(0). Held in: D****000 <br /> - UAA@NYSE: Buy: 6(0),\
                      \ Outperform: 3(-1), Hold: 16(-1), Underperform: 2(+1), Sell:\
                      \ 0(0). Held in: D****000 <br /> <br />   Note: Current ratings\
                      \ are from Reuters and may not reflect all rating changes from\
                      \ other sources such as Street Insider and Briefing.</html>"
                    ID: "2024031537589663"
                    HT: 0
                    FC: PF
              schema:
                $ref: '#/components/schemas/notifications'
          description: Successfully enabled or disabled your email notifications.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: bad request
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Get A List Of Notifications
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/notifications/{notificationID}:
    put:
      description: Mark a particular notification message as read or unread.
      parameters:
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          description: Code used to signify a specific notification to mark. Value
            received from /fyi/notifications
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                acknowledged:
                  value:
                    V: 1
                    T: 5
                    P:
                      R: 1
                      ID: "2024031947509444"
              schema:
                $ref: '#/components/schemas/notificationReadAcknowledge'
          description: Successfully enabled or disabled your email notifications.
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: bad request
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Mark Notification Read
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/settings:
    get:
      description: Return the current choices of subscriptions for notifications.
      responses:
        "200":
          content:
            application/json:
              examples:
                settings:
                  value:
                  - FC: PF
                    H: 0
                    A: 1
                    FD: Notify me of recent activity affecting my portfolio holdings.
                    FN: Portfolio FYIs
                  - FC: PT
                    H: 0
                    A: 1
                    FD: Notify me of potential account configuration changes needed
                      and useful features based on my position transfers.
                    FN: Position Transfer
              schema:
                $ref: '#/components/schemas/fyiSettings'
          description: Indicates data is being returned successfully.
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      summary: Get Notification Settings
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/settings/{typecode}:
    post:
      description: Enable or disable group of notifications by the specific typecode.
      parameters:
      - explode: false
        in: path
        name: typecode
        required: true
        schema:
          $ref: '#/components/schemas/typecodes'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_fyi_settings__typecode__post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                successEdited:
                  value:
                    V: 1
                    T: 10
              schema:
                $ref: '#/components/schemas/fyiVT'
          description: Successfully retrieve preset details
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      servers:
      - description: Trading Production Base URL
        url: https://api.ibkr.com/v1/api
      - description: Trading Alpha Base URL
        url: https://api.ibkr.com/alpha/api
      summary: Modify FYI Notifications
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /fyi/unreadnumber:
    get:
      description: Returns the total number of unread notifications
      responses:
        "200":
          content:
            application/json:
              examples:
                unreadnumber:
                  value:
                    BN: 4
              schema:
                $ref: '#/components/schemas/_fyi_unreadnumber_get_200_response'
          description: Indicates data is being returned successfully.
        "401":
          content:
            text/plain; charset=utf-8:
              schema:
                description: reason why access denied
                nullable: true
                type: string
          description: access denied
        "423":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_fyi_unreadnumber_get_423_response'
          description: Return if called too frequently. Should not be called more
            than 1 time in 5 minutes
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorOnlyResponse'
          description: |
            internal server error, returned when incoming request cannot be processed. It can sometimes include subset of bad requests.  For example, wrong accountId passed and it can only be detected later in handling request. Error contains reason of the problem.
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: |
            service is unavailable. For example if request takes more than 10s due to some internal service unavailability,  request aborted and this status returned
      summary: Unread Bulletins
      tags:
      - Trading FYIs and Notifications
      x-ib-provider: iblink
      x-accepts:
      - application/json
      - application/json; charset=utf-8
      - text/plain; charset=utf-8
  /gw/api/v1/accounts:
    get:
      description: "Retrieve the application request and IBKR response data based\
        \ on IBKR accountId or externalId. Only available for accounts that originate\
        \ via API<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: externalId
        required: false
        schema:
          type: string
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_gw_api_v1_accounts_get_200_response'
          description: Retrieve the application request and IBKR response data based
            on IBKR accountId or externalId. Only available for accounts that originate
            via API
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Retrieve Processed Application
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      description: "Update information for an existing accountId<br><br>**Scope**:\
        \ `accounts.write`<br>**Security Policy**: `Signed JWT`"
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/AccountManagementRequestsPayload'
        required: true
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Update information for an existing accountId
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestInfoResponse'
          description: Initiate update information for an existing accountId.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Update Account
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - accounts.write
      x-content-type: application/jwt
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Submit account application. This will create brokerage account\
        \ for the end user.<br><br>**Scope**: `accounts.write`<br>**Security Policy**:\
        \ `Signed JWT`"
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/ApplicationPayload'
        required: true
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Submit account application. This will create brokerage account
            for the end user.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestInfoResponse'
          description: Submit account application. This will initiate creation of
            brokerage account for the end user.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Create Account
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - accounts.write
      x-content-type: application/jwt
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/close:
    post:
      description: "Submit request to close account that is opened.<br><br>**Scope**:\
        \ `accounts.write`<br>**Security Policy**: `Signed JWT`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Close Account - with withdrawal Information:
                value:
                  instructionType: ACCOUNT_CLOSE
                  instruction:
                    clientInstructionId: "1012983"
                    accountId: U46377
                    closeReason: Input your reason of closure here
                    withdrawalInfo:
                      bankInstructionName: test instruction
                      bankInstructionMethod: WIRE
              Close Account - without withdrawal Information:
                value:
                  instructionType: ACCOUNT_CLOSE
                  instruction:
                    clientInstructionId: "1012983"
                    accountId: U46377
                    closeReason: Input your reason of closure here
            schema:
              $ref: '#/components/schemas/_gw_api_v1_accounts_close_post_request'
        required: true
      responses:
        "202":
          content:
            application/json:
              example:
                instructionResult:
                  clientInstructionId: 1013031
                  instructionType: ACCOUNT_CLOSE
                  instructionStatus: PENDING
                  instructionId: 43091814
                instructionSetId: 1703
                status: 202
              schema:
                $ref: '#/components/schemas/AsynchronousInstructionResponse'
          description: Accepts request to create a new instruction asynchronously
        "400":
          content:
            application/problem+json:
              example:
                type: /invalid-argument
                title: Bad Request
                status: 400
                detail: Input is not a JSON Object or doesn't contain all expected
                  fields
                invalidArguments:
                - field: bankInstructionName
                  description: Missing required parameter
              schema:
                $ref: '#/components/schemas/MissingRequiredParameterResponse'
          description: Returns a Problem detail instance representing a bad request.
        "403":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Forbidden
                status: 403
                detail: Permission denied- Insufficient rights for using resource
                instructionSetId: "2847"
                instructionResult:
                  clientInstructionId: 12001117
                  instructionType: ACCOUNT_CLOSE
                  instructionStatus: REJECTED
                  instructionId: 43092765
                  error:
                    errorCode: ERROR_PERMISSION_DENIED
                    errorMessage: Permission denied for ibgroup.ibcust.fbfb.instructions.AccountClose
              schema:
                $ref: '#/components/schemas/ForbiddenInstructionResponse'
          description: Returns a Problem detail instance representing a forbidden
            request.
        "422":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Business Error
                status: 422
                detail: Funds and Banking server cannot process your request because
                  it contains invalid data
                instructionSetId: "1701"
                instructionResult:
                  clientInstructionId: 1013030
                  instructionType: ACCOUNT_CLOSE
                  instructionStatus: REJECTED
                  instructionId: 43092465
                  error:
                    errorCode: CORRUPT_DATA_INVALID_ACCT
                    errorMessage: Account L46377 does not exist
              schema:
                $ref: '#/components/schemas/BusinessRejectResponse'
          description: Returns a Problem detail instance representing a business error.
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Returns a Problem detail instance representing an internal
            server error.
      summary: Close Account
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: fb
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - accounts.write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/documents:
    post:
      description: "Provides mechanism to submit Agreements and Disclosures to IBKR\
        \ once a day instead of with each application. We store these documents on\
        \ the servers and will use them for new application requests submitted that\
        \ day.<ul><li>Documents will need to be submitted once a day (before the Applications\
        \ are submitted). PDFs will be displayed and submitted as is- no changes/edits\
        \ will be made to the actual PDF files.</li><li>This end-point will not process\
        \ any Tax Form Documents. Tax Form document should be submitted with every\
        \ application</li><li>If submitted in the morning, you only need to include\
        \ the Tax Form attachment for each applicant. Otherwise, you will need to\
        \ include PDFs with each application (Create Account).</li></ul><br><br>**Scope**:\
        \ `accounts.write`<br>**Security Policy**: `Signed JWT`"
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/ProcessDocuments'
        required: true
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Submit standard agreements and disclosures
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Submit General Agreements And Disclosures
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - accounts.write
      x-content-type: application/jwt
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/login-messages:
    get:
      description: "Query all accounts associated with ‘Client ID’ that have incomplete\
        \ login message<br><br>**Scope**: `accounts.read`<br>**Security Policy**:\
        \ `HTTPS`"
      parameters:
      - explode: false
        in: query
        name: loginMessageRequest
        required: true
        schema:
          $ref: '#/components/schemas/LoginMessageRequest'
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginMessageResponse'
          description: Query all accounts associated with ‘Client ID’ that have incomplete
            login message
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Login Messages
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/status:
    get:
      description: "Query status of all accounts associated with ‘Client ID'<br><br>**Scope**:\
        \ `accounts.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: query
        name: accountStatusRequest
        required: true
        schema:
          $ref: '#/components/schemas/AccountStatusRequest'
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatusBulkResponse'
          description: Query status of all accounts associated with ‘Client ID'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Status Of Accounts
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/{accountId}/details:
    get:
      description: "<br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResponse'
          description: "View information associated with account including contact\
            \ data, financial information and trading configuration."
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Account Information
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/{accountId}/kyc:
    get:
      description: "Generate URL address to complete real-time KYC verification using\
        \ Au10Tix<br><br>**Scope**: `accounts.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Au10TixDetailResponse'
          description: Generate URL address to complete real-time KYC verification
            using Au10Tix
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Retrieve Au10Tix URL
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/{accountId}/login-messages:
    get:
      description: "Query login messages assigned by accountId<br><br>**Scope**: `accounts.read`<br>**Security\
        \ Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginMessageResponse'
          description: Query login messages assigned by accountId
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Login Message By Account
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/{accountId}/status:
    get:
      description: "Query status of account by accountId<br><br>**Scope**: `accounts.read`<br>**Security\
        \ Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatusResponse'
          description: Query status of account by accountId.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Status By Account
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/accounts/{accountId}/tasks:
    get:
      description: "Query registration tasks assigned to account and pending tasks\
        \ that are required for account approval<br><br>**Scope**: `accounts.read`<br>**Security\
        \ Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: query
        name: type
        required: false
        schema:
          default: registration
          enum:
          - pending
          - registration
          type: string
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_gw_api_v1_accounts__accountId__tasks_get_200_response'
          description: Query registration tasks assigned to account and pending tasks
            that are required for account approval
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: Get Registration Tasks
      tags:
      - Account Management Accounts
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/bank-instructions:
    post:
      description: "Create or delete bank instructions by accountId. Only ACH and\
        \ EDDA are supported for 'Create'.<br><br>**Scope**: `bank-instructions.write`<br>**Security\
        \ Policy**: `Signed JWT`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ACH Instruction:
                value:
                  instructionType: ACH_INSTRUCTION
                  instruction:
                    clientInstructionId: "1012983"
                    bankInstructionCode: USACH
                    achType: DEBIT_CREDIT
                    bankInstructionName: TestInstr
                    currency: USD
                    accountId: U223454
                    clientAccountInfo:
                      bankRoutingNumber: "202012983"
                      bankAccountNumber: "101267576983"
                      bankName: JPM Chase
                      bankAccountTypeCode: 0
              Traditional Bank Instruction Verification:
                value:
                  instructionType: TRADITIONAL_BANK_INSTRUCTION_VERIFICATION
                  instruction:
                    clientInstructionId: 7013057
                    bankInstructionCode: USACH
                    bankInstructionName: ACH-Tst1Random172
                    accountId: U117717
                    pendingInstructionId: 43086786
                    creditAmount1: 0.32
                    creditAmount2: 0.46
              Delete Bank Instruction:
                value:
                  instructionType: DELETE_BANK_INSTRUCTION
                  instruction:
                    clientInstructionId: 7013055
                    accountId: U46377
                    bankInstructionName: Test Delete
                    bankInstructionMethod: WIRE
                    currency: USD
              Predefined Destination Instruction:
                value:
                  instructionType: PREDEFINED_DESTINATION_INSTRUCTION
                  instruction:
                    clientInstructionId: 7013053
                    bankInstructionName: Test-ACH-Instr
                    bankInstructionMethod: ACH
                    accountId: U399192
                    currency: USD
                    financialInstitution:
                      name: SBI Bank
                      branchCode: ""
                      branchCodeType: BSB_AUD
                      identifier: SBIN001000
                      identifierType: IFSC
                      clientAccountId: "132456789"
              eDDA Instruction:
                value:
                  instructionType: EDDA_INSTRUCTION
                  instruction:
                    clientInstructionId: 7012743
                    bankInstructionName: "{instrution-name}"
                    currency: CNH
                    accountId: U8072517
                    bankBranchCode: "003"
                    bankAccountNumber: "132456"
                    bankClearingCode: "003"
                    debtorIdentificationDocumentType: hkId
            schema:
              $ref: '#/components/schemas/_gw_api_v1_bank_instructions_post_request'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                ACH Instruction:
                  value:
                    instructionResult:
                      clientInstructionId: 80009
                      instructionType: ACH_INSTRUCTION
                      instructionStatus: PENDING
                      instructionId: 43092478
                    instructionSetId: 2487
                    status: 202
                Traditional Bank Instruction Verification:
                  value:
                    instructionResult:
                      clientInstructionId: 7008152
                      instructionType: TRADITIONAL_BANK_INSTRUCTION_VERIFICATION
                      instructionStatus: PENDING
                      instructionId: 43092590
                    instructionSetId: 2614
                    status: 202
                Delete Bank Instruction:
                  value:
                    instructionResult:
                      clientInstructionId: 80009
                      instructionType: delete_bank_instruction
                      instructionStatus: PENDING
                      instructionId: 43092478
                    instructionSetId: 2487
                    status: 202
                Predefined Destination Instruction:
                  value:
                    instructionResult:
                      clientInstructionId: 7008152
                      instructionType: PREDEFINED_DESTINATION_INSTRUCTION
                      instructionStatus: PENDING
                      instructionId: 43092590
                    instructionSetId: 2614
                    status: 202
                eDDA Instruction:
                  value:
                    status: 202
                    instructionSetId: 6401
                    instructionResult:
                      clientInstructionId: 7012743
                      instructionType: EDDA_INSTRUCTION
                      instructionStatus: PENDING
                      instructionId: 43098698
              schema:
                $ref: '#/components/schemas/AsynchronousInstructionResponse'
          description: Accepts request to create a new instruction asynchronously
        "400":
          content:
            application/problem+json:
              example:
                type: /invalid-argument
                title: Bad Request
                status: 400
                detail: Input is not a JSON Object or doesn't contain all expected
                  fields
                invalidArguments:
                - field: accountId
                  description: Missing required parameter
                - field: instructionCode
                  description: Missing required parameter
                - field: achType
                  description: Missing required parameter
                - field: bankInstructionName
                  description: Missing required parameter
                - field: clientAccountInfo
                  description: Missing required parameter
              schema:
                $ref: '#/components/schemas/MissingRequiredParameterResponse'
          description: Returns a Problem detail instance representing a bad request.
        "403":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Forbidden
                status: 403
                detail: Permission denied- Insufficient rights for using resource
                instructionSetId: "2603"
                instructionResult:
                  clientInstructionId: 80140
                  instructionType: ACH_INSTRUCTION
                  status: REJECTED
                  instructionId: 43092579
                  error:
                    errorCode: ERROR_PERMISSION_DENIED
                    errorMessage: Permission denied for ibgroup.ibcust.fbfb.instructions.AchInstruction
              schema:
                $ref: '#/components/schemas/ForbiddenInstructionResponse'
          description: Returns a Problem detail instance representing a forbidden
            request.
        "422":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Business Error
                status: 422
                detail: Funds and Banking server cannot process your request because
                  it contains invalid data
                instructionSetId: "2602"
                instructionResult:
                  clientInstructionId: 80139
                  instructionType: ACH_INSTRUCTION
                  status: REJECTED
                  instructionId: 43092578
                  error:
                    errorCode: ERROR_ACCOUNT_CP_NOT_RELATED
                    errorMessage: Account U223454 not related to counterparty qatester
              schema:
                $ref: '#/components/schemas/BusinessRejectResponse'
          description: Returns a Problem detail instance representing a business error.
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Returns a Problem detail instance representing an internal
            server error.
      summary: Manage Bank Instructions
      tags:
      - Account Management Banking
      x-ib-gateway-provider-name: fb
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - bank-instructions.write
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/bank-instructions/query:
    post:
      description: "View active bank instructions for an accountId.<br><br>**Scope**:\
        \ `bank-instructions.read`<br>**Security Policy**: `Signed JWT`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Query Bank Instruction - Wire:
                value:
                  instructionType: QUERY_BANK_INSTRUCTION
                  instruction:
                    clientInstructionId: "1012983"
                    accountId: U46377
                    bankInstructionMethod: WIRE
              Query Bank Instruction - ACH Instruction:
                value:
                  instructionType: QUERY_BANK_INSTRUCTION
                  instruction:
                    clientInstructionId: "1012983"
                    accountId: U46377
                    bankInstructionMethod: ACH
              Query Recent Recurring Event:
                value:
                  instructionType: QUERY_RECENT_RECURRING_EVENTS
                  instruction:
                    clientInstructionId: "1012983"
                    ibReferenceId: 206603050
                    numberOfTransactions: 100
              Query Recurring Instructions - using Account ID:
                value:
                  instructionType: QUERY_RECURRING_INSTRUCTIONS
                  instruction:
                    clientInstructionId: "1012983"
                    accountId: U399192
            schema:
              $ref: '#/components/schemas/_gw_api_v1_bank_instructions_query_post_request'
        description: Create get instruction name request body
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Query Bank Instruction - WIRE:
                  value:
                    instructionResult:
                      accountId: U46377
                      bankInstructionMethod: WIRE
                      instructionDetails:
                      - bankInstructionName: testCitadele
                        type: FOREIGN_BANK
                        currency: USD
                      - bankInstructionName: testChase1
                        type: LOCAL_BANK
                        currency: USD
                      - bankInstructionName: testee
                        type: FOREIGN_BANK
                        currency: USD
                      - bankInstructionName: test multiple
                        type: FOREIGN_BANK
                        currency: CHF
                      - bankInstructionName: farawayBroker
                        type: FOREIGN_BROKER
                        currency: CHF
                      ibReferenceId: 0
                      clientInstructionId: 12001819
                      instructionType: QUERY_BANK_INSTRUCTION
                      instructionStatus: PROCESSED
                      instructionId: 43094187
                    instructionSetId: 3771
                    status: 201
                Query Bank Instruction - ACH:
                  value:
                    instructionResult:
                      accountId: U46377
                      bankInstructionMethod: ACH
                      instructionDetails:
                      - bankInstructionName: testCitadele
                        type: FOREIGN_BANK
                        currency: USD
                      - bankInstructionName: testChase1
                        type: LOCAL_BANK
                        currency: USD
                      - bankInstructionName: testee
                        type: FOREIGN_BANK
                        currency: USD
                      - bankInstructionName: test multiple
                        type: FOREIGN_BANK
                        currency: CHF
                      - bankInstructionName: farawayBroker
                        type: FOREIGN_BROKER
                        currency: CHF
                      ibReferenceId: 0
                      clientInstructionId: 12001819
                      instructionType: QUERY_BANK_INSTRUCTION
                      instructionStatus: PROCESSED
                      instructionId: 43094187
                    instructionSetId: 3771
                    status: 201
                Query Recent Recurring Events:
                  value:
                    status: 201
                    instructionSetId: 14132
                    instructionResult:
                      recurringInstructionName: test
                      recurringTransactionType: DEPOSIT
                      recurringTransactionStatus: NOTACTIVATED
                      amount: 1
                      currency: CNH
                      method: "206603051"
                      transactionHistory:
                        maxNumberOfTransactions: 100
                        result:
                        - ibRequestId: 206586288
                          status: ACKNOWLEDGED
                        - ibRequestId: 206582418
                          status: CANCELED
                      ibReferenceId: 0
                      clientInstructionId: 12007909
                      instructionType: QUERY_RECENT_RECURRING_EVENTS
                      instructionStatus: PROCESSED
                      instructionId: 43104464
                Query Recurring Instructions - using Account ID:
                  value:
                    status: 201
                    instructionSetId: 14258
                    instructionResult:
                      accountId: U399192
                      recurringInstructions:
                      - requestId: 206611807
                        bankInstructionName: Recurring Test- cpereira
                        transactionType: DEPOSIT
                        bankInstructionMethod: ACH
                        amount: 1.0
                        currency: USD
                        frequency: MONTHLY
                        startDate: 2024-06-12 00:00:00.0
                        endDate: 2024-12-12 00:00:00.0
                      ibReferenceId: 0
                      clientInstructionId: 12008027
                      instructionType: QUERY_RECENT_INSTRUCTIONS
                      instructionStatus: PROCESSED
                      instructionId: 43104628
              schema:
                $ref: '#/components/schemas/_gw_api_v1_bank_instructions_query_post_201_response'
          description: Instruction successfully created and processed synchronously
        "400":
          content:
            application/problem+json:
              example:
                type: /invalid-argument
                title: Bad Request
                status: 400
                detail: Input is not a JSON Object or doesn't contain all expected
                  fields
                invalidArguments:
                - field: ibReferenceId
                  description: Missing required parameter
              schema:
                $ref: '#/components/schemas/MissingRequiredParameterResponse'
          description: Returns a Problem detail instance representing a bad request.
        "403":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Forbidden
                status: 403
                detail: Permission denied- Insufficient rights for using resource
                instructionSetId: "2445"
                instructionResult:
                  clientInstructionId: 12000610
                  instructionType: APPLY_FEE_TEMPLATE
                  instructionStatus: REJECTED
                  instructionId: 43092429
                  error:
                    errorCode: ERROR_PERMISSION_DENIED
                    errorMessage: Permission denied for ibgroup.ibcust.fbfb.instructions.SetFeeTemplate
              schema:
                $ref: '#/components/schemas/ForbiddenInstructionResponse'
          description: Returns a Problem detail instance representing a forbidden
            request.
        "422":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Business Error
                status: 422
                detail: Funds and Banking server cannot process your request because
                  it contains invalid data
                instructionSetId: "2616"
                instructionResult:
                  clientInstructionId: 7008155
                  instructionType: APPLY_FEE_TEMPLATE
                  instructionStatus: REJECTED
                  instructionId: 43092592
                  error:
                    errorCode: CORRUPT_DATA_INVALID_ACCT
                    errorMessage: Account U463756 does not exist
              schema:
                $ref: '#/components/schemas/BusinessRejectResponse'
          description: Returns a Problem detail instance representing a business error.
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Returns a Problem detail instance representing an internal
            server error.
      summary: View Bank Instructions
      tags:
      - Account Management Banking
      x-ib-gateway-provider-name: fb
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - bank-instructions.read
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/client-instructions/{clientInstructionId}:
    get:
      description: "Retrieve status of request by clientInstructionId.<br><br>**Scope**:\
        \ `instructions.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      - description: The target instruction id.
        explode: false
        in: path
        name: clientInstructionId
        required: true
        schema:
          example: -1988905739
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Polling Status Pending:
                  value:
                    status: 200
                    instructionResult:
                      clientInstructionId: 7008156
                      instructionType: INTERNAL_CASH_TRANSFER
                      status: PENDING
                      instructionId: 43092595
                    instructionSetId: 2650
                Polling Status Processed:
                  value:
                    status: 200
                    instructionResult:
                      clientInstructionId: 7008157
                      instructionType: INTERNAL_CASH_TRANSFER
                      status: PROCESSED
                      instructionId: 43092596
                    instructionSetId: 2651
                Polling Status Query Recent Instruction:
                  value:
                    status: 200
                    instructionSetId: 4206
                    instructionResult:
                      instructionHistory:
                        historyMaxDepthNumberOfDays: 30
                        historyMaxDepthNumberOfInstruction: 100000
                        result:
                        - clientInstructionId: 0
                          ibInstructionId: 11383366
                          instructionType: ACH_INSTRUCTION
                          requestDate: 2024-02-06T07:35:36-05
                          status: PENDING_VERIFICATION
                          instructionSetId: 0
                        - clientInstructionId: 0
                          ibInstructionId: 11383356
                          instructionType: ACH_INSTRUCTION
                          requestDate: 2024-02-06T07:00:34-05
                          status: REJECTED
                          instructionSetId: 0
                        - clientInstructionId: 0
                          ibInstructionId: 11383355
                          instructionType: ACH_INSTRUCTION
                          requestDate: 2024-02-06T06:58:22-05
                          status: PENDING
                          instructionSetId: 0
                      ibReferenceId: 0
                      clientInstructionId: 12003152
                      instructionType: QUERY_RECENT_INSTRUCTIONS
                      instructionStatus: PROCESSED
                      instructionId: 11383402
                Polling Status - Deposit Instruction:
                  value:
                    status: 200
                    instructionSetId: 3673
                    instructionResult:
                      ibReferenceId: 166903389
                      clientInstructionId: 1091115677
                      instructionType: DEPOSIT
                      instructionStatus: PROCESSED
                      instructionId: 11177823
                Polling Status - Query IRA Contributions:
                  value:
                    status: 200
                    instructionSetId: 18642
                    instructionResult:
                      accountId: U68903
                      year: "2003"
                      iraType: ROTH NEW
                      contributions:
                      - maximumContributionLimit: 4000
                        yearToDateContribution: 3500
                        allowedContributionLimit: 500
                      ibReferenceId: 0
                      clientInstructionId: 7013308
                      instructionType: QUERY_IRA_CONTRIBUTIONS
                      instructionStatus: PROCESSED
                      instructionId: 43134476
                Polling Status - Query IRA Contributions (SEP Accounts):
                  value:
                    status: 200
                    instructionSetId: 18640
                    instructionResult:
                      accountId: U1032333
                      year: "2022"
                      iraType: SEP
                      contributions:
                      - type: EMPLOYEE
                        maximumContributionLimit: 7000
                        yearToDateContribution: 0
                      - type: EMPLOYER
                        maximumContributionLimit: 58000
                        yearToDateContribution: 0
                      ibReferenceId: 0
                      clientInstructionId: 7013306
                      instructionType: QUERY_IRA_CONTRIBUTIONS
                      instructionStatus: PROCESSED
                      instructionId: 43134474
              schema:
                $ref: '#/components/schemas/_gw_api_v1_client_instructions__clientInstructionId__get_200_response'
          description: Returns the status of an instruction.
        "208":
          content:
            application/json:
              example:
                status: 208
                instructionResult:
                  clientInstructionId: 1013025
                  instructionType: INTERNAL_CASH_TRANSFER
                  status: REJECTED
                  instructionId: 43091799
                  code: CORRUPT_DATA_INVALID_ACCT
                  description: Account U345 does not exist
                instructionSetId: 1686
              schema:
                $ref: '#/components/schemas/InstructionResponse'
          description: Client tried to reuse the same instructionId for more than
            one transaction. Returning the status for the first registered transaction
            under given instructionId (when there were no duplicates yet). Reconsile
            based on instructionSetId
        "404":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Not found
                status: 404
                detail: "Funds & Banking: Could not get status for clientId: qatester,\
                  \ transactionId : 72308156"
              schema:
                $ref: '#/components/schemas/NoSuchInstructionResponse'
          description: Returns a Problem detail instance representing a not found
            request.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Unable to process request due to an Internal Error. Please
            try again later.
      summary: Get Status For ClientInstructionId
      tags:
      - Account Management Banking
      x-ib-gateway-provider-name: fb
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - instructions.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/echo/https:
    get:
      description: "<br>**Scope**: `echo.read`<br>**Security Policy**: `HTTPS`"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResponse'
          description: Returns a JSON object containing the request parameters.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InvalidAccessTokenResponse'
          description: Returns a Problem detail instance representing an unauthorized
            request.
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InsufficientScopeResponse'
          description: Returns a Problem detail instance representing a forbidden
            request.
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Returns a Problem detail instance representing an internal
            server error.
      summary: Echo A Request With HTTPS Security Policy Back After Validation.
      tags:
      - Utilities Echo
      x-ib-gateway-provider-name: self
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - echo.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/echo/signed-jwt:
    post:
      description: "<br>**Scope**: `echo.write`<br>**Security Policy**: `Signed JWT`"
      requestBody:
        $ref: '#/components/requestBodies/SignedJwtEchoRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResponse'
          description: Returns a JSON object containing the request parameters.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InvalidAccessTokenResponse'
          description: Returns a Problem detail instance representing an unauthorized
            request.
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InsufficientScopeResponse'
          description: Returns a Problem detail instance representing a forbidden
            request.
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Returns a Problem detail instance representing an internal
            server error.
      summary: Echo A Request With Signed JWT Security Policy Back After Validation.
      tags:
      - Utilities Echo
      x-ib-gateway-provider-name: self
      x-ib-gateway-security-policy: SIGNED_JWT
      x-ib-gateway-allowed-scopes:
      - echo.write
      x-content-type: application/jwt
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/enumerations/complex-asset-transfer:
    get:
      description: "Get list of brokers supported for given asset transfer type<br><br>**Scope**:\
        \ `enumerations.read`<br>**Security Policy**: `HTTPS`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      - description: Asset transfer type to get the list of supported brokers
        example: COMPLEX_ASSET_TRANSFER
        explode: false
        in: query
        name: instructionType
        required: true
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instructionType: COMPLEX_ASSET_TRANSFER
                brokers:
                - DONNER & REUSCHEL
                - "IBROKER GLOBAL MARKETS SOCIEDAD DE VALORES, S.A"
                - EQUATEX 4500
                - IMAGI  BROKERAGE LIMITED
                - V-BANK
                - ADMIRAL MARKETS UK LTD
                - ALFA BANK
                - YICKO SECURITIES LIMITED
                - BLACKWELL GLOBAL SECURITIES LIMITED
                - EQUINITI
                - KAISA FINANCIAL GROUP COMPANY LIMITED
              schema:
                $ref: '#/components/schemas/GetBrokerListResponse'
          description: Returns list of brokers supported for given asset type
        "400":
          content:
            application/problem+json:
              example:
                type: /simple
                title: Bad Request
                status: 400
                detail: "Request path does not contain all expected fields, please\
                  \ consult provided documentation, escalate to IB contact if issue\
                  \ persists"
              schema:
                $ref: '#/components/schemas/NoSuchInstructionResponse'
          description: Returns a Problem detail instance representing a not found
            request.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Unable to process request due to an Internal Error. Please
            try again later.
      summary: Get A List Of Participating Brokers For The Given Asset Type
      tags:
      - Account Management Utilities
      x-ib-gateway-provider-name: fb
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - enumerations.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/enumerations/{enumerationType}:
    get:
      description: "Get enumerations<br><br>**Scope**: `accounts.read` OR `enumerations.read`<br>**Security\
        \ Policy**: `HTTPS`"
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: ibEntity
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: mdStatusNonPro
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: form-number
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: language
        required: false
        schema:
          enum:
          - en
          - ar
          - de
          - es
          - fr
          - he
          - hu
          - it
          - ja
          - nl
          - pt
          - ru
          - zh_CN
          - zh_TW
          type: string
        style: form
      responses:
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing internal server error
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing bad request
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumerationResponse'
          description: Get enumerations
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
          description: Returns error description representing access issue
      summary: "Get Enumerations For Trading Permission, Employment Detail, Affiliation\
        \ Detail, Financial Range Information, ACATS And So On"
      tags:
      - Account Management Utilities
      x-ib-gateway-provider-name: eca
      x-ib-gateway-security-policy: HTTPS
      x-ib-gateway-allowed-scopes:
      - accounts.read
      - enumerations.read
      x-accepts:
      - application/json
      - application/problem+json
  /gw/api/v1/external-asset-transfers:
    post:
      description: "Initiate request to submit external position transfer. Methods-\
        \ ACATS, ATON, Basic FOP, FOP, DWAC. More information on transfer methods\
        \ can be found here - https://www.interactivebrokers.com/campus/trading-lessons/cash-and-position-transfers/<br><br>**Scope**:\
        \ `transfers.write`<br>**Security Policy**: `Signed JWT`"
      parameters:
      - description: The client's clientId
        explode: false
        in: path
        name: client-id
        required: true
        schema:
          example: abc123
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FOP - transfer using contractID (conid):
                value:
                  instructionType: FOP
                  instruction:
                    clientInstructionId: 7013038
                    direction: IN
                    accountId: U46377
                    contraBrokerAccountId: 12345678A
                    contraBrokerDtcCode: "534"
                    quantity: 1000
                    tradingInstrument:
                      conid: 12123
                      currency: USD
              FOP - transfer using tradingInstrument.detail:
                value:
                  instructionType: FOP
                  instruction:
                    clientInstructionId: 7013039
                    direction: IN
                    accountId: U46377
                    contraBrokerAccountId: 12345678A
                    contraBrokerDtcCode: "534"
                    quantity: 1000
                    tradingInstrument:
                      tradingInstrumentDescription:
                        securityIdType: ISIN
                        securityId: "459200101"
                        assetType: STK
                      currency: USD
              DWAC - transfer using contractID (conid):
                value:
                  instructionType: DWAC
                  instruction:
                    clientInstructionId: 7013036
                    direction: IN
                    accountId: U1001095
                    contraBrokerAccountId: 12345678A
                    contraBrokerTaxId: "123456789"
                    quantity: 1000
                    accountTitle: Special Company Holding LLC
                    referenceId: refId
                    tradingInstrument:
                      conid: 12123
                      currency: USD
              DWAC - transfer using tradingInstrument.detail:
                value:
                  instructionType: DWAC
                  instruction:
                    clientInstructionId: 7013037
                    direction: IN
                    accountId: U1001095
                    contraBrokerAccountId: 12345678A
                    contraBrokerTaxId: "123456789"
                    quantity: 1000
                    accountTitle: Special Company Holding LLC
                    referenceId: refId
                    tradingInstrument:
                      tradingInstrumentDescription:
                        securityIdType: ISIN
                        securityId: "459200101"
                        assetType: STK
                      currency: USD
              Complex Asset Transfer - using contractID (conid):
                value:
                  instructionType: COMPLEX_ASSET_TRANSFER
[...]
